@use "@fremtind/jkl-core/jkl";

.speech-bubble {
  position: absolute;

  left: var(--leftPos, 50%);
  top: var(--topPos, 50%);
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 30ch;
  text-align: center;

  @include jkl.use-font-family("Fremtind Grotesk");
  font-weight: jkl.$typography-weight-normal;
  font-size: 10vh;
  line-height: 1.2;
}
