@use "@fremtind/jkl-core/core";
@use "@fremtind/jkl-core/jkl";

@use "@fremtind/jkl-webfonts/webfonts.scss" with (
  $webfonts-dir: "../node_modules/@fremtind/jkl-webfonts/fonts"
);

@import "@fremtind/jkl-button/button.min.css";
@import "@fremtind/jkl-input-group/input-group.min.css";
@import "@fremtind/jkl-card/card.min.css";
@import "@fremtind/jkl-text-input/text-input.min.css";

html,
body {
  width: 100%;
  height: 100vh;
  height: var(--app-height, 100vh);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      var(--rdeg, 217deg),
      hsl(0 100% 50% / 0.8),
      hsl(0 0% 0% / 0) 70.71%
    ),
    linear-gradient(
      var(--gdeg, 127deg),
      hsl(128 100% 50% / 0.8),
      hsl(0 0% 0% / 0) 70.71%
    ),
    linear-gradient(
      var(--bdeg, 336deg),
      hsl(240 100% 50% / 0.8),
      hsl(0 0% 0% / 0) 70.71%
    );
}

#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

/* .form-card {
  backdrop-filter: blur(4px);
  background-color: rgb(255 255 255 / 0.6);
}

.button-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 60vw;
  height: 60vw;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  padding: 0;
  color: inherit;

  border: none;
  border-radius: 99999px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.05);

  cursor: pointer;

  @include jkl.text-style("title");
} */
